#[link(name = "apl",
       vers = "0.0.1",
       uuid = "94e0c4b0-8709-11e2-9e96-0800200c9a66",
       url = "http://www.angry-lawyer.com")];

#[comment = "SDL bindings"];
#[license = "LGPL"];

extern mod std;

pub mod tokenizer;
pub mod parser;
pub mod nodes;
pub mod eval {
    pub mod eval;
    pub mod add;
}

#[cfg(test)]
mod test_tokenizer;
#[cfg(test)]
mod test_parser;
#[cfg(test)]
mod test_utils;
#[cfg(test)]
mod test_eval;

mod apl;
